<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intern</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron" style="background-color: red; text-align: center; height: 100px;">
        <h1 class="display-4">My Team</h1>
      </div>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
              <h5 class="card-title">Name</h5>
              <i class="fas fa-mug-hot"<p class="card-text"> Manager</i>
            </div>
            <br>
            <div class="container">
            <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ID:</li>
              <li class="list-group-item">Email:</li>
              <li class="list-group-item">School:</li>
            </ul>
        </div>
    </div>
    <br>
          </div>
    </div>
</div>

</body>
</html>