<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Team</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
     <style>
      .card-body{
        padding: 10px;
        }
      .wrapper{
        padding: 5px;
        display: inline-block;
        }
      h5.card-title, i, p, h1{
        color: white;
        }
      </style>

    <body>
        <div class="jumbotron" style="background-color: red; text-align: center;">
            <h1 class="display-4">My Team</h1>
          </div>
        <div class="container">
        <br>
        
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">Sally Walker</h5>
      <i class="fas fa-mug-hot"<p class="card-text"> Manager</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 1234</li>
      <li class="list-group-item">Email: sally@walker.com</li>
      <li class="list-group-item">Office Number: gh78</li>
    </ul>
</div>
</div>
</div>
 
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">John</h5>
      <i class="fas fa-glasses"<p class="card-text"> Engineer</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 4343</li>
      <li class="list-group-item">Email: John@stayll.com</li>
      <li class="list-group-item">Github: fjfjf</li>
    </ul>
</div>
</div>
</div>
 
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">Liz</h5>
      <i class="fas fa-user-graduate"<p class="card-text"> Intern</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 5858</li>
      <li class="list-group-item">Email: liz@liz.com</li>
      <li class="list-group-item">School: UNCW</li>
    </ul>
</div>
</div>
</div>
 
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">Kimberly Hill</h5>
      <i class="fas fa-glasses"<p class="card-text"> Engineer</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 5433</li>
      <li class="list-group-item">Email: kim@hill.com</li>
      <li class="list-group-item">Github: Kimhub</li>
    </ul>
</div>
</div>
</div>
 
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">Jaxon</h5>
      <i class="fas fa-user-graduate"<p class="card-text"> Intern</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 5334</li>
      <li class="list-group-item">Email: Jaxon@gmail.com</li>
      <li class="list-group-item">School: Duke University</li>
    </ul>
</div>
</div>
</div>

              </div>
    
    </body>
    </html>