<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Manager</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
        <style>
      .card-body{
        padding: 10px;
      }
      .wrapper{
        padding: 5px;
        display: inline-block;
    }

      h5.card-title, i, p, h1{
        color: white;
      }
      </style>

    <body>
        <div class="jumbotron" style="background-color: red; text-align: center;">
            <h1 class="display-4">My Team</h1>
          </div>
        <div class="container">
        <br>
        
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">Sharon anthonyu</h5>
      <i class="fas fa-mug-hot"<p class="card-text"> Manager</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 343</li>
      <li class="list-group-item">Email: jnfkjdfkjk@jfdl.com</li>
      <li class="list-group-item">Office Number: 48484</li>
    </ul>
</div>
</div>
</div>
 
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">Lisa Jones</h5>
      <i class="fas fa-user-graduate"<p class="card-text"> Intern</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 58328</li>
      <li class="list-group-item">Email: jfiein@eocj.com</li>
      <li class="list-group-item">Office Number: UNC =Chapel HIll</li>
    </ul>
</div>
</div>
</div>
 
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">Kimbelrly Inbfke</h5>
      <i class="fas fa-glasses"<p class="card-text"> Engineer</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 5343</li>
      <li class="list-group-item">Email: iehreu@sotot.com</li>
      <li class="list-group-item">Office Number: jfjfjAiend</li>
    </ul>
</div>
</div>
</div>
 
    <div class=wrapper>
    <div class="card" style="width: 18rem;">
    <div class="card-body" style="background-color: rgb(10, 103, 224); text-align: center;">
      <h5 class="card-title">sharon Jill</h5>
      <i class="fas fa-glasses"<p class="card-text"> Engineer</p></i>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id: 93hj5n</li>
      <li class="list-group-item">Email: fjei@gmeilcom</li>
      <li class="list-group-item">Office Number: jfjdk</li>
    </ul>
</div>
</div>
</div>

              </div>
    
    </body>
    </html>